@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --color-darkBlue: #111827;
  --color-softBlue: #1F2937;
  --color-mainOrange: #D97706;
  --color-lightBlue: #374151;
  --font-poppins: "Poppins";
  --font-playfair: "Playfair Display";
  --breakpoint-sm: 550px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1200px;
}
body {
  background-color: var(--color-darkBlue);
  color: #fff;
  font-family: var(--font-poppins);
}
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-container::-webkit-scrollbar {
  width: 8px;
  /* Note: background-color on the main scrollbar element often has
     no visible effect. It's better to style the track instead. */
}

/* 
  2. Style the track (the background the thumb slides on)
     The selector is ".scrollbar-container ::-webkit-scrollbar-track"
*/
.scrollbar-container::-webkit-scrollbar-track {
  background: var(--color-lightBlue); /* e.g., a light blue color */
  border-radius: 4px; /* It's better to round the track and thumb */
}
